[data-block] {
  width: 25px;
  float: left;
}

/* blue */

[data-block="25"] {
  height: 25px;
  background-color: #285f85;
}

/* green */

[data-block="50"] {
  height: 50px;
  background-color: #2ecc71;
}

/* red */

[data-block="75"] {
  height: 75px;
  background-color: #e74c3c;
}

/* yellow */

[data-block="100"] {
  height: 100px;
  background-color: #f1c40f;
}

#announce-game-won {
  font-size: 50px;
  color: black;
  text-align: center;
}

/* custom css below this line *******************************/

body {
  font: 300 20px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #a3d1ff;
  color: #00dbac;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 70vh;
  width: 95vw;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  margin: auto;
}

#game {
  display: flex;
}

[data-stack] {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  width: 120px;
  height: 12px;
  position: relative;
  border-radius: 10px;
  background: #222;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
}

[data-stack]:after {
  content: " ";
  width: 10px;
  height: 60px;
  box-shadow: 3px 0px #333;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  background: #222;
  transform: translateX(-6px);
}

[data-block] {
  display: flex;
  border-radius: 20px;
  position: relative;
}

#announce-game-won {
  text-align: center;
}

.game-win {
  animation: spiral-up 700ms ease 1;
}

.selected {
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.05);
  transform: translate(2rem, 0);
  animation: pop 300ms ease-out 1;
}

.selected-stack {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.85);
}

#moves {
  text-align: center;
  font-size: 3em;
  color: black;
}

#moves:before {
  content: "moves: ";
}

@keyframes pop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2rem, 0);
  }
}

@keyframes spiral-up {
  0% {
    transform: rotate(-5deg);
    margin: 0;
  }
  50% {
    transform: rotate(5deg);
    margin: 2px;
  }
}

.footer {
  /* align-items: center;
    justify-content: center; */
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  /* height: 100px; */
  background-color: #777;
  color: #fff;
  font-size: small;
  font-family: cursive;
  user-select: none;
  /* opacity: .9; */
}

.footer > div {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.social-icon {
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  user-select: none;
}

.icon {
  user-select: none;
  justify-self: center;
  vertical-align: middle;
  height: 20px;
  width: auto;
}

/* footer end */
